html{
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}

body {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    color: rgb(69, 64, 64);
    margin: 0;
    padding: 0;
}
.logoimg{
    height:190px;
    width:150px;
    vertical-align: middle;
    padding-right: 10px;
}
header {
    padding: 20px;
    background-color: #f0f0f0; /* Light background color */
}
.subheading{
    font-size: 60px; 
    font-weight: 500;
    padding: 38px; 
    margin: 10px;
    padding-left:50px;
    margin-bottom: 0px; 
    padding-bottom: 0px; 
    color: rgb(160, 174, 2);
}
footer{
    background-color: #f0f0f0;
    width: 100%;
    font-size: 16px;
    padding:15px;
    padding-left:20px;
}

h1 {
    font-size: 45px;
    font-weight: 100;
    display: inline-block; /* Display as inline-block to align with nav */
    vertical-align: middle; /* Align vertically with nav */
}
.intro{
    font-weight: 100;
    font-family: 'Josefin Sans';
    font-size: 25px;
    padding:45px;

}
nav {
    padding-left: 20px;
    display: inline-block; /* Display as inline-block to align with h1 */
    vertical-align:middle; /* Align vertically with h1 */
}

nav ul {
    list-style-type: none;
    padding-right: 100px;
}

nav ul li {
    display: inline-block;
    font-size:24px;
    margin-right: 20px;
    line-height: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    transition: font-size 0.1s;
    font-size: 24.5px;
    transform: scale(0.5);
    color:rgb(160, 174, 2);
}


.motto {
    font-size: 20px;
    font-weight: 100;
    font-style: oblique;
    padding-left: 20px;
    padding-bottom: 10px;
}
.content {
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}
.fimgdiv {
    width: 100%;
    float:right; 
    padding:0px,20px;
}

.fimg {
    width: 100%; 
    height: auto;
}

.motto {
    font-size: 24px; 
    font-weight: 50; 
    font-style: oblique;
    padding: 10px 20px; 
    margin: 0 auto; 
    max-width: 600px; 
    text-align: center; 
    border-top: 2px solid rgba(0, 0, 0, 0.1); 
    color: rgb(160, 174, 2);
}
.intro{
    font-weight: 100;
    font-family: 'Josefin Sans';
    font-size: 25px;
    padding:45px;
    line-height:1.1
}


.city-selector {
    margin: 60px;

}

.custom-buttons {
    display: flex;
    justify-content: center;
}

.city-button {
    display: flex; 
    width: 33%;
    padding: 10px;
    flex-direction: column; /* Stack image and name vertically */
    align-items: center; /* Center-align items horizontally */
    border: none;
    background: none;
    cursor: pointer;
    margin:0;
}

.city-button img {
    width: 100%; /* Ensures image doesn't exceed its container */
    height: 100%; /* Ensures aspect ratio is maintained */
    border-radius: 50%; /* Ensure rounded corners for circular images */
}

@media (max-width: 1268px) {
    .city-button img {
        width: 100%; /* Adjust width as needed for smaller screens */
        height: 100%; /* Ensures aspect ratio is maintained */
    }
}

.city-button img:hover {
    border: 5px rgba(176, 76, 43, 255) solid;
}

.city-name {
    text-align: center; /* Center-align the text */
    margin-top: 25px; /* Adjust margin as needed */
    font-family: 'Josefin Sans';
    font-size: 24px;

}
